fieldset {
  border: 1px solid #ccc;
  border-radius: $border-radius;
  padding: $spacing-unit;

  legend {
    font-weight: bold;
    color: $primary-color;
    @include responsive-text(1.1rem);
  }
}

form {
  .form-label {
    font-weight: 600;
  }

  .btn {
    background-color: $secondary-color;
    color: white;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  #formSuccess {
    color: $success-color;
    font-weight: bold;
  }

  #formError {
    color: $error-color;
    font-weight: bold;
  }
}
