fieldset {
  border: 1px solid #ccc;
  border-radius: $border-radius;
  padding: $padding-small;

  legend {
    font-weight: bold;
    color: $primary-color;
    
  }
}

form {
  .form-label {
    font-weight: 600;
  }

  .btn {
    background-color: $secondary-color;
    color: white;

    
  }

  #formSuccess {
    color: $color-active;
    font-weight: bold;
  }

  #formError {
    color: $color-active;
    font-weight: bold;
  }
}
