@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;


}
@mixin section-layout {
  .row {
    align-items: start;

    aside {
      text-align: end;

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    article {
      text-align: start;
    }
  }
}
@mixin mobile{
  @media (max-width:$mobile){
    @content;
  }
}
@mixin responsive-padding($small, $medium, $latge, $x-large, $xx-large){
  padding: $small;

  @media (min-width:576px){
    padding: $medium;
  }
  
  @media (min-width:768px){
    padding: $large
  }
  @media (min-width:992px){
    padding: $x-large;
  }
   @media (min-width:1200px){
    padding: $xx-large;
  }
}