$primary-color: hwb(54 9% 9%);
$secondary-color:blue;
$color-active: red;
$error-color: red;
$foreground-color:pink;
$stroke-width: 20px;
$border-radius: 20px;





$text-color: #4016ea;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 8009
);
$mobile: 800px;
//padding
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 3rem;
$padding-x-large: 4rem;
$padding-xx-large: 5rem;


