@import "./reset";
@import "./variables";
@import "./function";
@import "./mixins";
@import "./navbar";
@import "./components";
@import "./forms";
@import "./svg.scss";
@import "./progressbar";

body {
  background-color: $primary-color;
  color: #333;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
h1,h2.h3{
  font-weight: 400;
}
.header-in {
  width: 100%;
  padding: $padding-small;
  background-color: #f8f9fa; // light gray or customize
  color: #212529; // Bootstrap's text-dark
  z-index: 2;
  position: relative;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #6c757d; // text-muted look
  }
}





.container
 {
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-small;
    padding-right: $padding-small;
    text-align: center;
    
    
 }


  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
  }

section h4 {
  color: black;
  margin-bottom: 1rem;
  
}

.badge{
  background-color: lab(42.93% 57.76 37.4 / 0.875);
  font-size: 1rem;
  padding: 0.6em 0.8em;
  border-radius: 1.5em
}
.btn,
.col-12 .btn{
  background-color: red;
}
.nav-link:hover {
  color: $color-active; /* Example: orange-red on hover */
}
/*
.nav-link:hover{
  color: color-active;
  
}*/
h4{
  text-align: left;
}
.div{
  margin-bottom: 20px;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
      
 .slider-container {
      width: 200px;
      margin: 0 auto;
    }
    .value-display {
      margin-top: 10px;
      font-size: 1.2em;
    }
legend {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}
fieldset {
  border: 1px solid #ccc;
}
#formSuccess {
  transition: opacity 0.5s ease;
}



 




  